### Import modules

In [1]:
import pandas as pd

### Load dataset

In [7]:
sms_dataset = pd.read_csv('../dataset/sms-spam-collection', sep='\t', names=['label','sms_message'])

In [9]:
sms_dataset.head(5)

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

### Data preprocessing

In [10]:
sms_dataset['label'] = sms_dataset.label.map({'ham':0, 'spam':1})

In [12]:
sms_dataset.head(5)

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...